[submodule "deps/djinni"]
	path = deps/djinni
	url = git@github.com:dropbox/djinni.git
[submodule "deps/cryptopp"]
	path = deps/cryptopp
	url = git@github.com:weidai11/cryptopp.git
[submodule "deps/plog"]
	path = deps/plog
	url = git@github.com:SergiusTheBest/plog.git